In [2]:
import pandas as pd

In [1]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ["linha" + str(i) for i in range(5)]
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [5]:
s = pd.Series(data = data , index = index )
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [6]:
s1 = s + 2
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [7]:
s2 = s+ s1
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

# DATA FRAME

In [14]:
data = [ [1,2,3], [4,5,6] , [7,8,9] ]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
df1 = pd.DataFrame(data)

In [17]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
index = ['Linha' + str(i+1) for i in range(3) ]
index

['Linha1', 'Linha2', 'Linha3']

In [19]:
colunas = ['Coluna' + str(i+1) for i in range(3) ]
colunas

['Coluna1', 'Coluna2', 'Coluna3']

In [20]:
df1 = pd.DataFrame(data = data, index= index, columns=colunas )

df1.columns.name = 'Id'

df1

Id      Coluna1  Coluna2  Coluna3
Linha1        1        2        3
Linha2        4        5        6
Linha3        7        8        9

In [21]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [22]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [23]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [24]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4