In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [57]:
dados = pd.read_csv('dados_limpos.csv', sep= ';' )

In [ ]:
dados.head()

In [55]:
dados.shape

(108, 5)

In [58]:
dados.describe().round(2)

            PNB   TxPNB    TxPOP     INV
count    108.00  105.00   107.00  108.00
mean    5683.26    4.04    95.72   17.53
std     5688.67    1.90   966.42    7.70
min      412.00   -0.90     0.30    4.10
25%     1209.25    2.70     1.70   11.78
50%     3484.50    3.80     2.40   16.95
75%     7718.75    5.30     2.95   23.32
max    25635.00    9.20  9999.00   36.90

In [59]:
dados.corr().round(2)

        PNB  TxPNB  TxPOP   INV
PNB    1.00   0.14   0.02  0.58
TxPNB  0.14   1.00   0.06  0.39
TxPOP  0.02   0.06   1.00  0.15
INV    0.58   0.39   0.15  1.00