# relatorio de analise 1

### importando a base de dados

In [2]:
import pandas as pd

In [5]:
dados = pd.read_csv('dados/aluguel.csv' , sep=';')

In [6]:
type(dados)

pandas.core.frame.DataFrame

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

### infos gerais sobre a base de dados

In [8]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns= ['Tipos de dados'])

In [9]:
tipos_de_dados.columns.name = 'Variaveis'
tipos_de_dados

Variaveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [11]:
print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imoveis) e 9 variaveis